opencv-python
alive-progress
# This program requires PyTorch. To use hardware accelleration like the GPU,
# you need to go to https://pytorch.org/get-started/locally/ , select the
# appropriate configuration for your hardware, and run the custom pip command.
